<!-- education.component.html -->
<mat-card class="education-card">
    <mat-card-header>
      <mat-icon>school</mat-icon>
      <mat-card-title>George Mason University, Fairfax, VA</mat-card-title>
      <mat-card-subtitle>Master of Science in Computer Science (2022 – 2024)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <h4>Relevant Courses</h4>
      <ul>
        <li>Application Data Mining</li>
        <li>Software Model and Architecture Design</li>
        <li>Secure Software Design</li>
        <li>Machine Learning</li>
      </ul>
    </mat-card-content>
  </mat-card>
  