<!-- Navbar -->
<header class="navbar">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
      <li><a routerLink="/certifications" routerLinkActive="active">Certifications</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    </ul>
  </nav>  
  <button class="theme-toggle-btn" (click)="toggleTheme()">Toggle Theme</button>
</header>

<!-- Theme Toggle Button -->

<!-- Social Media Sidebar -->
<div class="social-sidebar">
  <a href="https://linkedin.com/in/nishith-vadlamudi" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.instagram.com/nishith_vadlamudi" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
  <a href="mailto:nishith.vadlamudi@gmail.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
  <a href="https://github.com/NishithVadlamudi" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
</div>

<!-- Router Outlet -->
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Nishith Vadlamudi. All rights reserved.</p>
  </div>
</footer>
